body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-field {
 	display: grid;
 	grid-template-columns: repeat(6, 16vh);
 	grid-template-rows: repeat(6, 10vh);
	grid-gap: 3px;
	
}

.orange-field {
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 5vh;
}
.target {
	background-color: green;
	color: white;
	font-size: 24pt;
	text-align: center;
}

.miss {
	background-color: red;
}

#button-reload {
	margin: 5px;

}
